body {
    font-family: 'Noto Serif Gujarati', serif;
    overflow-x: hidden; 
}

section {
    padding: 60px 0px 60px;
}

section h1 {
    color: #6d3944;
}

/* Hero */
#hero {
    color: white !important;
    padding: 200px 0px 90px;
    text-align: center;
    background-image: url("../images/herobg.png");
    background-position: center center;
}

#hero h1 {
    font-size: 55px;
    color: white;
}

/* About */
#about img {
    max-width: 165px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: -5px;
}

#about p {
    color: rgb(75, 75, 75);
}

/* Services */
#services {
    background-color: #f5f5f5;
}

.accordion-button:not(.collapsed) { /* accordion click color effect */
    color: rgb(255, 255, 255);
    background-color: #3b4968;
    font-weight: bold;
}

/* Contact */
#contact-form {
    box-shadow: 0px 4px 17px 0px rgb(135 137 138 / 16%);
    max-width: 550px;
    padding: 50px;
    margin: auto;
}

label {
    margin-top: 10px;
}

/* Map */
#map {
    height: 400px;
    width: 100%;
}

/* Footer */
footer {
    color: #7a7a7a;
    background-color: #1e1e1ef7;
    text-align: center;
    padding: 50px 0px 25px;
}

.footer-links {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.footer-links a {
    color: #7a7a7a;
    text-decoration: none;
}

.footer-links a:hover {
    color: rgb(92, 123, 209);
    text-decoration: underline;
}


/* Mobile CSS */
@media only screen and (max-width: 600px) {
    #hero h1 {
        font-size: 50px;
    }

    #about,
    #services {
      text-align: center;
    }

    #about img {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .accordion {
        text-align: start;
    }

    .footer-links {
        gap: 1em;
    }

    .footer-links p {
        font-size: 12px;
    }
}

/* Custom Buttons */
.blue-btn, .white-btn {
    padding: 8px 15px;
    border: 0.5px solid;
}

.blue-btn {
    background-color: #3d4c70;
    border-color: #374668;
    color: white;
}

.blue-btn:hover {
    background-color: #2f3f63 ;
}

.white-btn {
    background-color: white;
    border-color: #6d3642;
    color: #6d3642;
}

.white-btn:hover {
    background-color: #ececec;
}

.service-btn {
    border: 1px solid #374668;
    padding: 5px 10px;
    background-color: white;
    color: rgb(31, 31, 31);
}

.service-btn:hover {
    background-color: rgb(241, 241, 241);
}
  
